
.gs_tracks
  height: 100%
  overflow: hidden
  display: flex
  justify-content: space-around
  align-items: stretch

.gs_track_list
  height: 100%
  margin-top: 10px
  padding: 0 0 20px 0
  display: flex
  flex-direction: column
  align-items: stretch
  gap: 5px
  width: 100%
  &_container
    height: 100%
    width: 100%
    overflow-y: scroll

.gs_track
  display: grid
  grid-template-rows: 1fr
  grid-template-columns: 20% 5% 25% 15% 5% 10% 10% 10%
  padding: 2px 5px 0px 15px
  cursor: pointer
  width: 100%
  font: bold 0.8em "Fira Sans", sans-serif

  &_add_to_playlist_button
    &_container
      width: 100%
      height: 100%
      display: flex
      justify-content: space-around

  &:hover
    background-color: rgba(255, 131, 36, 0.85)
    transition: background-color 0.15s

.even
  background-color: rgba(144, 185, 177, 0.23)
