

.gs_track
  display: grid
  grid-template-rows: 1fr
  grid-template-columns: 25% 10% 20% 20% 25%
  cursor: pointer
  &:hover
    background-color: black
    color: lightblue
    box-shadow: 3px 3px
