
.gs_artists
  height: 100%
  overflow-y: scroll
  display: flex
  justify-content: space-around
  align-items: stretch

.gs_artist_list
  display: flex
  flex-direction: column
  justify-content: space-around
  align-self: center
  overflow-y: scroll
  height: fit-content
  gap: 5px

  &_container
    height: 100%
    width: 100%
    overflow-y: scroll
    margin-top: 10px

.gs_artist
  cursor: pointer
  margin: 2px
  &:hover
    background-color: rgba(255, 131, 36, 0.85)
    margin: 3px
    transition: margin 0.15s

  &_index
    margin-left: 5px
    font: bold italic 1em "Fira Sans", sans-serif

  &_name
    font: bold 0.8em "Fira Sans", sans-serif
