.transport_control
  display: grid
  grid-template-rows: 50% 50%
  grid-template-columns: 100%
  gap: 5px
  margin: 5px

  &_title
    grid-row: span 2
    border: 2px solid black
    border-radius: 5px
    text-align: center
    display: flex
    flex-direction: column
    justify-content: space-around
    align-items: center

  &_buttons
    display: grid
    grid-template-rows: 100%
    grid-template-columns: 30% 30% 30%
    gap: 5px
    border: 2px solid black
    border-radius: 5px

    &_legend
      font: bold italic 0.75em "Fira Sans", sans-serif


  &_button
    display: flex
    justify-content: space-around
    align-items: center
    align-self: center
    height: 30px

  &_playback_speed
    display: flex
    justify-content: space-around
    align-items: center

  &_speed_fieldset
    border: 2px solid black
    border-radius: 5px

  &_speed_legend
    font: bold italic 0.75em "Fira Sans", sans-serif

.gs_playback_speed_slider
  width: calc(100% - 10px)
