
<div class='transport_control'>
  <div class='transport_control_title'>
    Transport Control
  </div>
  <div class="transport_control_buttons">
    <button (click)="playTrig()">
      Play
    </button>
    <button (click)="pauseTrig()">
      Pause
    </button>
    <button (click)="stopTrig()">
      Stop
    </button>
  </div>
  <fieldset>
    <legend>
      Playback Speed
    </legend>
    <datalist id="gs_playback_speed_options">
      @for (speedOpt of gsPlaybackSpeedOptions; track speedOpt; let i = $index) {
        <option value="{{i}}"></option>
      }
    </datalist>
    <div class="transport_control_playback_speed">
      <input type="range"
             #gs_playback_speed
             id="gs_playback_speed"
             class="gs_playback_speed_slider"
             list="gs_playback_speed_options"
             min="0"
             max="7"
             step="1"
             value="4"
             (input)="handlePlaybackSpeed(gs_playback_speed.value)"/>
    </div>
  </fieldset>
</div>
