.gs_playback
  height: 100%

  &_fieldset
    height: 90%
    background-color: rgba(253, 151, 0, 0.54)
    border: 2px solid black
    border-radius: 5px
    display: grid
    grid-template-rows: 100%
    grid-template-columns: 50% 50%

    &_section
      height: 100%
      overflow: hidden
      display: flex
      flex-direction: column
      justify-content: space-around
      align-items: stretch

    &_current_track
      width: 100%
      display: flex


  &_legend
    font: bold italic 1.3em "Fira Sans", sans-serif

.selected
  font: bold italic 1.35em "Fira Sans", sans-serif
  text-decoration: underline

