.gs_playback
  height: 100%

  &_fieldset
    height: 90%
    background-color: rgba(253, 151, 0, 0.54)
    border: 2px solid black
    border-radius: 5px
    display: grid
    grid-template-rows: 100%
    grid-template-columns: 50% 50%

  &_legend
    &_elem
      font: bold italic 1.3em "Fira Sans", sans-serif
      cursor: pointer
      &:hover
        color: #ff8f00
        transition: font .3s

  &_current_track
    width: 100%
    display: flex
    justify-content: space-between

.selected
  font: bold italic 1.35em "Fira Sans", sans-serif
  text-decoration: underline

