<fieldset class="gs_playlist">
  <legend class="gs_playlist_legend">
    Playlist
  </legend>
  <h4>
    ({{playlistName$ | async}})
    <button (click)="handleClearPlaylistClick()">
      Clr. Playlist
    </button>
  </h4>
  <div class="playlist_currIdx">
    Currently Playing: {{currIdx$ | async }}
  </div>
  <div class="playlist_tracks">
    <h4 >
      Tracks:
    </h4>
    @for (track of playlistTracks$ | async; track track; let i = $index) {
      <div class="gs_playlist_track"
           [class.gs_playlist_current_track]="i === (currIdx$ | async)"
           (dblclick)="handleDblClick(i, track)">
        <div>
          {{i}}:
        </div>
        <div>
          {{track.title}}
        </div>
        <div>
          {{track.artists}}
        </div>
        <div>
          <!--            TODO: debug jackson serialization to make consistent-->
          {{(track.album || {title: 'foo'}).title || track.album}}
        </div>
        <div>
          {{track.audioCodec}}
        </div>
      </div>
    }
  </div>
</fieldset>
