
.gs_playlist
  height: 90%
  border: 2px solid black
  border-radius: 5px

  &_legend
    font: bold italic 0.75em "Fira Sans", sans-serif

.gs_playlist_track
  display: grid
  grid-template-rows: 1fr
  grid-template-columns: 5% 40% 20% 20% 1fr
  cursor: pointer
  &:hover
    background-color: black
    color: lightblue
    box-shadow: 3px 3px

.gs_playlist_current_track
  background-color: cyan
  color: black
