
.gs_playlist_track
  display: grid
  grid-template-rows: 1fr
  grid-template-columns: 5% 40% 32% 1fr
  cursor: pointer
  &:hover
    background-color: black
    color: lightblue
    box-shadow: 3px 3px

.gs_playlist_current_track
  background-color: cyan
  color: black
