<fieldset class="gs_playlist">
  <legend class="gs_playlist_legend">
    <form [formGroup]="playlistForm">
      <label for="playlistName"
             class="gs_playlist_name">
        Playlist:
        <input type="text"
               id="playlistName"
               class="gs_playlist_name_input"
               [formControl]="playlistForm.controls.name"
        />
      </label>
    </form>
    -
    <button type="submit"
            (click)="handleSaveAsPlaylistClick()"
            [disabled]="!playlistForm.valid"
    >
      Save As
    </button>
    -
    <button type="submit"
            (click)="handleSavePlaylistClick()"
            [disabled]="!playlistForm.valid || playlistId === 0"
    >
      Save
    </button>
    -
    <button (click)="handleClearPlaylistClick()">
      Clear
    </button>
  </legend>
  <div class="gs_playlist_tracks_container">
    <div class="gs_playlist_tracks">
<!--      <div class="gs_playlist_track gs_playlist_current_track">-->
<!--        <div class="gs_playlist_track_index">-->
<!--          1.-->
<!--        </div>-->
<!--        <div class="gs_playlist_track_name">-->
<!--          EXAMPLE PLAYLIST TRACK TITLE-->
<!--        </div>-->
<!--        <div>-->
<!--          {{ 201 | toHHMMSS }}-->
<!--        </div>-->
<!--        <div>-->
<!--          EXAMPLE TRACK ARTIST-->
<!--        </div>-->
<!--        <div>-->
<!--          EXAMPLE TRACK ALBUM-->
<!--        </div>-->
<!--        <div>-->
<!--          FLAC-->
<!--        </div>-->
<!--      </div>-->
      @for (track of playlistTracks; track track; let i = $index) {
        <div class="gs_playlist_track"
             [class.gs_playlist_current_track]="i === (currIdx$ | async)"
             (dblclick)="handleDblClick(i, track)">
          <div class="gs_playlist_track_index">
            {{i + 1}}.
          </div>
          <div>
            {{track.title}}
          </div>
          <div>
            {{track.duration | toHHMMSS}}
          </div>
          <div>
            {{track.artists | pluck: "name" | join: ", "}}
          </div>
          <div>
            {{track.album.title}}
          </div>
          <div>
            {{track.audioCodec}}
          </div>
        </div>
      }
    </div>
  </div>
</fieldset>
