.selected
  font: bold italic 1.33em "Fira Sans", sans-serif
  transition: font .3s
  text-decoration: underline

.gs_library
  height: calc(100vh - 20px)
  display: grid
  grid-template-rows: 10% 15% 15% 60%
  grid-template-columns: 100%
  margin: 5px
  border: 2px solid black
  border-radius: 5px

  &_legend
    color: black
    font: bold italic 1.3em "Fira Sans", sans-serif
    &_elem
      cursor: pointer
      &:hover
        color: #ff8f00
        transition: font .3s

  &_header
    width: 100%
    display: grid
    grid-template-rows: 1fr
    grid-template-columns: 10% 90%

  &_buttons
    display: grid
    grid-template-rows: 100%
    grid-template-columns: 50% 50%

  &_filters
    width: 100%
    display: flex
    justify-content: space-around
    align-items: center

  &_filter
    display: grid
    grid-template-rows: 10% 90%
    grid-template-columns: 1fr

    &_list
      display: flex
      flex-direction: column

    &_value
      display: flex

