
<div class="gs_playback_display">
  <fieldset class="gs_current_track">
    <legend class="gs_current_track_legend">
      Currently Playing
    </legend>
    <table class="gs_playback_display_table">
      <tbody>
        <tr class="gs_playback_display_table_row">
          <td>
            Track:
          </td>
          <td class="gs_playback_display_table_cell_value">
            {{currTrack.title}}
          </td>
        </tr>
        <tr class="gs_playback_display_table_row">
          <td>
            Artist/s:
          </td>
          <td class="gs_playback_display_table_cell_value">
            {{currTrackArtists}}
          </td>
        </tr>
        <tr class="gs_playback_display_table_row">
          <td>
            Album:
          </td>
          <td class="gs_playback_display_table_cell_value">
            {{currTrack.album.title}}
          </td>
        </tr>
        <tr class="gs_playback_display_table_row">
          <td>
            Codec:
          </td>
          <td class="gs_playback_display_table_cell_value">
            {{currTrack.audioCodec}}
          </td>
        </tr>
        <tr class="gs_playback_display_table_row">
          <td>
            SampleRate:
          </td>
          <td class="gs_playback_display_table_cell_value">
            {{currTrack.sf_samplerate}}
          </td>
        </tr>
      </tbody>
    </table>

    <div
      class="gs_playback_display_progress_bar"
      [ngStyle]="{
        'background': 'linear-gradient(90deg, #ff8f00 0 ' + currPercent + '%, #ffffff ' + currPercent + '% 100% )',
        'transition': 'background 0.2s ease'
      }">
    </div>
  </fieldset>
</div>
