
.gs_playback_display
  width: 100%
  display: flex
  justify-content: space-around
  align-items: center

  &_progress_bar
    width: 100%
    height: 10px
    border: 2px solid black
    border-radius: 5px

.gs_current_track
  height: 100%
  width: 100%
  border: 2px solid black
  border-radius: 5px
  display: flex
  flex-direction: column
  justify-content: space-around

  &_legend
    font: bold italic 0.75em "Fira Sans", sans-serif

